* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Circular, Helvetica, Arial, Sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
nav {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
}
header {
    height: 100vh;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
}
footer {
    height: 538px;
    background-color: black;
}
.container {
    height: inherit;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.spotify-logo {
    width: 132px;
    height: 40px;
    margin: 20px 0;
}
nav ul {
    width: 484px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
nav a , footer a {
    color: white;
    text-decoration: none;
}
nav li {
    font-weight: bold;
}
a:hover {
    color: #1db954;
}
#title {
    width: inherit;
    color: white;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -.04em;
    line-height: 1.15;
    margin-bottom: 20px;
}
.text {
    width: inherit;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
header .container {
    flex-direction: column;
    justify-content: center;
}
.btn-spotify {
    width: 260px;
    margin: 16px auto 0;
    padding: 16px 40px 18px;
    background-color: #1db954;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 500px;
    line-height: 14px;
    letter-spacing: 2px;
    transition-duration: .3s;
    cursor: pointer;
}
.btn-spotify:hover {
    background-color: #1ed760;
}
.hero-img {
    background-image: url(../img/hero-burst.svg);
    height: inherit;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foot .container {
    padding: 80px 0 50px;
    color: white;
    justify-content: space-between;
}
.container-left {
    display: inline-flex;
}
.container-left img{
    margin-left: 20px;
}
.container-left h2 {
    color: #919496;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 40px 20px 0 50px;
}
.container-left ul {
    display: inline;
    list-style-type: none;
}
.container-left li {
    padding: 20px 20px 0 50px;
}
.fa {
    margin: 40px 20px 0 0;
    padding: 15px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #222326;
}
.container-bottom {
    color: #919496;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.container-bottom ul {
    display: flex;
    list-style-type: none;
    margin-top: 80px;
}
.container-bottom li {
    font-size: 12px;
    padding-right: 20px;
}
.container-bottom a {
    color: #919496;
}
.container-bottom .lang {
    text-align: right;
    margin-top: 70px;
    font-size: 12px;
}
.container-bottom a:hover {
    color: #1db954;
}